

@{
    ViewBag.Title = "Home Page";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
     <p>
        <h3>More Growing Choices</h3>
        In the controlled environment of a greenhouse, you can grow just about any kind of herb, vegetable, shrub or tree -- even exotic plants that wouldn't normally be possible in your location. Gardeners in the northeast, for example, who wish to grow and enjoy ornamental plants that are native to the southwest can usually do so in a greenhouse.
     </p>
     <p>
        <h3> Protected Environment</h3>
        A greenhouse provides plants with protection from wind, rain and other harsh weather elements, not to mention predatory pests and animals. With careful plant selection and proper ventilation, there is less risk of soil-borne disease. The structure also provides a safe place for seeds to germinate and seedlings to develop that might otherwise be targeted by birds, heavy rain or unexpected frosts.
    </p>
    <h3>Increased Yield</h3>
    Having a greenhouse usually means having more edible vegetables and bedding plants, not only because plants have less exposure to potential threats but also because more plants survive in conditions where temperature and humidity are controlled. In terms of growing food, increased yield promotes a sense of self-sufficiency and translates to saving money. A greenhouse also makes it much easier to successfully start plants from seed, another money-saving advantage over buying starter plants from a nursery.
    <p>
        <h3>Extended Season</h3>
        With a greenhouse, it's possible to start plants from seed earlier than you would outdoors. Similarly, many vegetables can be greenhouse-grown later in the season than their counterparts in the field. Several varieties of salad lettuces and cooking greens, for example, are suitable choices for a greenhouse in winter. Spring vegetables and hanging baskets of flowers may be possible in a greenhouse long before the ink is dry on the first seed catalog to arrive in your mailbox.

    </p>


</body>
</html>

