@model IEnumerable<GreenhouseWeb.Models.UserGreenhouse>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Greenhouse Schedule";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="~/Scripts/handsontable/handsontable.full.min.js"></script>
    <script src="~/Scripts/scheduleScripts.js"></script>
    <link href="~/Content/handsontable/handsontable.full.min.css" rel="stylesheet" media="screen">
    <title></title>
</head>
<body>
    @foreach (var item in Model)
    {
        if (item.User == User.Identity.GetUserName())
        {
            <div onclick="setGreenhouseID(this.id)" id="@item.GreenhouseID" name="testgreenhouse" class="list-group-item">
                <p>Greenhouse ID: @item.GreenhouseID</p>
            </div>
        }
    }
    <div id="example1" style="text-align:center">
      <script>
          window.onload = showTable();        
      </script>
    </div>
    <div>
        <button name="save" id="btn1" onclick="save()" class="intext-btn">Save Schedule</button>
        <button name="load" id="btn2" onclick="load()" class="intext-btn">Load Schedule</button>
        <button name="apply" id="btn3" onclick="apply()" class="intext-btn">Apply Schedule</button>
        <br>
        <p id="label"></p>
    </div>
    <div id="listview">
    </div>
</body>
</html >



