@{
    ViewBag.Title = "Greenhouse Schedule";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="~/Scripts/handsontable/handsontable.full.min.js"></script>
    <link href="~/Content/handsontable/handsontable.full.min.css" rel="stylesheet" media="screen">
    <title></title>
</head>
<body>

  
        <div id="example1" style="text-align:center">
            <script>
                function getData() {
                    return [
                        { time: '00.00-02.00', blueLight: 20, redLight: 20, temperature: 20, humidity: 20, waterlevel: 20 },
                        { time: '02.00-04.00', blueLight: 20, redLight: 20, temperature: 20, humidity: 20, waterlevel: 20 },
                        { time: '04.00-06.00', blueLight: 20, redLight: 20, temperature: 20, humidity: 20, waterlevel: 20 },
                        { time: '06.00-08.00', blueLight: 20, redLight: 20, temperature: 20, humidity: 20, waterlevel: 20 },
                        { time: '08.00-10.00', blueLight: 20, redLight: 20, temperature: 20, humidity: 20, waterlevel: 20 },
                        { time: '10.00-12.00', blueLight: 20, redLight: 20, temperature: 20, humidity: 20, waterlevel: 20 },
                        { time: '12.00-14.00', blueLight: 20, redLight: 20, temperature: 20, humidity: 20, waterlevel: 20 },
                        { time: '14.00-16.00', blueLight: 20, redLight: 20, temperature: 20, humidity: 20, waterlevel: 20 },
                        { time: '16.00-18.00', blueLight: 20, redLight: 20, temperature: 20, humidity: 20, waterlevel: 20 },
                        { time: '18.00-20.00', blueLight: 20, redLight: 20, temperature: 20, humidity: 20, waterlevel: 20 },
                        { time: '20.00-22.00', blueLight: 20, redLight: 20, temperature: 20, humidity: 20, waterlevel: 20 },
                        { time: '22.00-24.00', blueLight: 20, redLight: 20, temperature: 20, humidity: 20, waterlevel: 20 }

                    ];
                }
                (function (Handsontable) {
                    function ligthValidator(a, callback) {
                        if (a < 0 || a > 100) {
                            callback(false);
                        } else callback(true);

                    }
                    Handsontable.validators.registerValidator('ligth', ligthValidator);

                })
                    (Handsontable);
                (function (Handsontable) {
                    function temperatureValidator(a, callback) {
                        if (a < -100 || a > 100) {
                            callback(false);
                        } else callback(true);

                    }
                    Handsontable.validators.registerValidator('temp', temperatureValidator);

                })(Handsontable);

                (Handsontable);
                (function (Handsontable) {
                    function humidityValidator(a, callback) {
                        if (a < 10 || a > 90) {
                            callback(false);
                        } else callback(true);

                    }
                    Handsontable.validators.registerValidator('humidity', humidityValidator);

                })(Handsontable);

                (Handsontable);
                (function (Handsontable) {
                    function waterLevelValidator(a, callback) {
                        if (a < 0 || a > 25) {
                            callback(false);
                        } else callback(true);

                    }
                    Handsontable.validators.registerValidator('waterlevel1', waterLevelValidator);

                })(Handsontable);

                var container1 = document.getElementById('example1');
                var hot1 = new Handsontable(container1, {
                    data: getData(),
                    licenseKey: 'non-commercial-and-evaluation',
                    colWidths: 87,
                    fillHandle: {
                        direction: 'vertical',
                        autoInsertRow: false
                    },
                    colHeaders: ['Time', 'Blue Light', 'Red Light', 'Temperature', 'Humidity', 'Waterlevel'],
                    allowEmpty: false,
                    columns: [
                        {
                            data: 'time',
                            readOnly: true
                        },
                        {
                            data: 'blueLight',
                            type: 'numeric',
                            validator: 'ligth'

                        },
                        {
                            data: 'redLight',
                            type: 'numeric',
                            validator: 'ligth'
                        },
                        {
                            data: 'temperature',
                            type: 'numeric',
                            validator: 'temp'
                        },
                        {
                            data: 'humidity',
                            type: 'numeric',
                            validator: 'humidity'
                        },

                        {
                            data: 'waterlevel',
                            type: 'numeric',
                            validator: 'waterlevel1'
                        },

                    ],

                });

                console.log(JSON.stringify({ data: hot1.getData() }));
            </script>
        </div>
        <div>
            <button id="savebtn" type="button" onclick="">Save Schedule</button>
            <button id="loadbtn" type="button" onclick="">Load Schedule</button>
            <button id="applybtn" type="button" onclick="">Apply Schedule</button>
        </div>
   </body>
</html>



