@using Microsoft.AspNet.Identity
@using Moq;
@using GreenhouseWeb.Tests.Mock;

@model IEnumerable<GreenhouseWeb.Models.UserGreenhouse>

@if (Request.IsAuthenticated)
{


    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <!--Script Reference[1]-->
        <script src="~/Scripts/HomeControllerScripts.js"></script>
        <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    </head>
    <body>


        <script>var currentID = '';</script>

        <div>
            <div class="col-4 " style="width:20%; display: inline-block; vertical-align: top; margin-top: 50px;">


                @foreach (var item in Model)
                {
                    if (item.User == User.Identity.GetUserName())
                    {
                        <div onclick="setGreenhouseID(this.id)" id="@item.GreenhouseID" name="testgreenhouse" class="list-group-item">
                            <p>Greenhouse ID: @item.GreenhouseID</p>
                        </div>
                    }
                }
            </div>


            <div id="gauges" style="display: inline-block;">
                <!--Chart Placement[2]-->
                <div style="display: inline-block;">
                    <div id="InTemperature"></div>
                    <div id="outTemperature"></div>
                </div>
                <div style="display: inline-block;">
                    <div id="Humidity"></div>
                    <div id="Waterlevel"></div>
                </div>
                </div>
            </div>


        <script>

            setInterval(updateData, 1000);

        </script>
        <button onclick="stopLiveData()">Stop Live Data</button>
    </body>
</html>

                
            }
else
{


}




