@using Microsoft.AspNet.Identity
@using Moq;
@using GreenhouseWeb.Tests.Mock;
 

@if (Request.IsAuthenticated)
{


    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <!--Script Reference[1]-->
        <script src="~/Scripts/HomeControllerScripts.js"></script>
        <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    </head>
    <body>

        <script> var currentID = ''; </script>

        <div class="col-4" style="width:20%">
            <div onclick="setGreenhouseID(this.id); currentID = this.id" id="testgreenhouse" name="testgreenhouse" class="list-group-item">
                <p>Greenhouse ID: TestGreenhouse</p>

            </div>   
            <div onclick="setGreenhouseID(this.id); currentID = this.id" id="somethingelse" name="testgreenhouse" class="list-group-item">
                <p>Greenhouse ID: something</p>

            </div>            
        </div>
        <script>

            setInterval(updateData, 1000);
           
        </script>

        <div id="gauges">
            <!--Chart Placement[2]-->
            <div id="InTemperature"></div>
            <div id="outTemperature"></div>
            <div id="Humidity"></div>
            <div id="Waterlevel"></div>
        </div>
        
        <button onclick="">Stop Live Data</button>
        
</body>
</html>


}
else
{


}




