<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://TEK-STUDSRV0F.stud-srv.sdu.dk:80</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://TEK-STUDSRV0F.stud-srv.sdu.dk:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>SDU\asdoe17</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GreenhouseWeb.Models.ApplicationDbContext, GreenhouseWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GreenhouseDBContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GreenhouseWeb.Models.GreenhouseDBContext, GreenhouseWeb" MigrationConfiguration="GreenhouseWeb.Migrations.Configuration, GreenhouseWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LiveDataEntities" Order="3" Enabled="False">
          <Destination Path="C:\Users\micha\source\repos\GreenhouseWeb\GreenhouseWeb\App_Data\aspnet-GreenhouseWeb-20190327121559.mdf" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-GreenhouseWeb-20190327121559.mdf;Initial Catalog=aspnet-GreenhouseWeb-20190327121559;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LiveDataEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.LiveData.csdl|res://*/Models.LiveData.ssdl|res://*/Models.LiveData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\aspnet-GreenhouseWeb-20190327121559.mdf;initial catalog=aspnet-GreenhouseWeb-20190327121559;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="GreenhouseDBContext-Web.config Connection String" />
    <MSDeployParameterValue Include="LiveDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.LiveData.csdl|res://*/Models.LiveData.ssdl|res://*/Models.LiveData.msl;provider=System.Data.SqlClient;provider connection string=C:\Users\micha\source\repos\GreenhouseWeb\GreenhouseWeb\App_Data\aspnet-GreenhouseWeb-20190327121559.mdf</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>